<div class="col-12 col-sm-10 col-md-6 article">
  <div class="card text-center shadow">
    <%= article_header(article) %>
    <div class="card-body">
      <h5 class="card-title">
        <%= article.title %>
      </h5>
      <p class="card-text">
        <%= truncate article.description, length: 100 %>
      </p>
      <div class="btn-group" role="group" aria-label="Article actions">
        <%= link_to 'Show', article, class: 'btn btn-dark', type: 'button' %>
        <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-dark' %>
        <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
    </div>
    <div class="card-footer text-muted">
      <small>
        Created <%= time_ago_in_words(article.created_at) %> ago.
        Edited <%= time_ago_in_words(article.updated_at) %> ago.
      </small>
    </div>
  </div>
</div>
