<div class="container">
  <div class="row">
    <div class="col-12 mt-5 mb-4">
      <h1 class="text-center"><%= @article.title %></h1>
    </div>
    <div class="col-12 mb-4 col-md-8">
      <div class="shadow border p-3 mb-4">
        <p>
          <%= @article.description %>
        </p>
      </div>
      <div class="shadow border p-3">
        <%= render_categories_badges(@article.categories) %>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="container shadow border p-3">
        <div class="mb-3">
          <%= gravatar_for @article.user, 80 %>
        </div>
        <p>
        <strong>Written</strong> by <%= link_to @article.user.name, @article.user %>.
        </p>
        <p>
        <strong>Created</strong>
        <%= time_ago_in_words(@article.created_at) %> ago.
        </p>
        <p>
        <strong>Updated</strong>
        <%= time_ago_in_words(@article.updated_at) %> ago.
        </p>
        <%= render_show_article_actions @article %>
      </div>
    </div>
  </div>
</div>

