<div class="container">
  <div class="row">
    <div class="col-12 mt-5 mb-4">
      <h1 class="text-center"><%= @article.title %></h1>
    </div>
    <div class="col-12 mb-4 col-md-8">
      <div class="container shadow border p-3">
        <p>
          <%= @article.description %>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="container shadow border p-3">
        <div class="mb-3">
          <%= gravatar_for @article.user, 80 %>
        </div>
        <p>
        Written by the <strong><%= @article.user.name %></strong>
        </p>
        <p>
        Created
        <strong><%= time_ago_in_words(@article.created_at) %> ago</strong>.
        </p>
        <p>
        Updated
        <strong><%= time_ago_in_words(@article.updated_at) %> ago</strong>.
        </p>
        <div class="btn-group mt-3" role="group" aria-label="Article actions">
          <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-dark', role: 'button', type: 'button' %>
          <%= link_to 'Delete', @article, class: 'btn btn-danger', role: 'button', type: 'button', data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  </div>
</div>
