<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= link_to 'Alpha Blog', root_path, class: 'navbar-brand', id: 'logo' %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Articles', articles_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Bloggers', users_path, class: 'nav-link' %>
      </li>
      <%= render_article_actions %>
      <%= render_account_dropdown %>
    </ul>
    <ul class="navbar-nav ml-auto">
      <%= render_account_access %>
    </ul>
  </div>
</nav>
