<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= link_to 'Alpha Blog', root_path, class: 'navbar-brand', id: 'logo' %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= render_nav_link 'Articles', articles_path %>
      </li>
      <li class="nav-item">
        <%= render_nav_link 'Categories', categories_path %>
      </li>
      <li class="nav-item">
        <%= render_nav_link 'Bloggers', users_path %>
      </li>
      <%= render_actions %>
      <%= render_account_dropdown %>
    </ul>
  </div>
  <ul class="navbar-nav d-flex flex-row ml-auto">
    <%= render_account_access %>
  </ul>
</nav>
